// Fonts
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap');

$primary-font: 'Titillium Web', sans-serif;

// Colors
$color-pink: #FF577F;
$color-orange: #FF884B;
$color-light-orange: #FFD384;
$color-yellow: #FFF9B0;
$color-dark: rgb(32, 32, 32);
$color-dark-80: rgb(58, 58, 58);
$color-green: #b0ffba;

body {
    padding: 0;
    margin: 0;
    background: $color-light-orange;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
    font-weight: 900;
    color: $color-dark;
}

h1 {
    margin-bottom: 16px;
}

h2 {
    color: $color-pink;
    margin-bottom: 8px;
}

a {
    text-decoration: none;
    color: $color-pink;
    font-weight: bold;
    &:hover {
        text-decoration: underline;
    }
}

p {
    color: $color-dark;
    margin-top: 0;
}

// Mixins
@mixin box {
    box-sizing: border-box;
    display: flex;
    border-radius: 15px;
}

@mixin pop-ups {
    margin-top: 78px;
    height: fit-content;
}


// Main divs
.container-center {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.todo-app, .user-app, .user-box, .delete-box {
    @include box;
    padding: 48px;
    background: white;
    width: 640px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.user-box {
    @include pop-ups;
    display: flex;
    width: 580px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p, h2 {
        text-align: center;
    }
}

.delete-box {
    @include pop-ups;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    span {
        text-align: center;
    }
    >.delete-buttons {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 16px;
    }
}

.cancel {
    background: #b8b8b8;
    color: #3f3f3f;
}

.user-app {
    & p {
        text-align: center;
        width: 100%;
    }
}

.info-box {
    @include box;
    background: $color-yellow;
    width: 100%;
    padding: 16px 32px 16px 32px;
    justify-content: center;
    & p {
        text-align: center;
        width: 100%;
    }
}

.inner-content {
    width: 100%;
}

.existing-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

.ongoing {
    background: $color-pink;
    color: white;
}

.completed {
    background: $color-green;
    span {
        text-decoration: line-through;
    }
}

// Category
.private {
    color: $color-pink !important;
}

.work {
    color: $color-dark-80 !important;
}

.none {
    color: #b4b4b4;
}

// Options
.material-symbols-outlined {
    text-decoration: none !important;
}

.hide {
    display: none !important;
}

.f-direction-column {
    flex-direction: column;
}