// Responsive

@media only screen and (max-width: 520px){
  .container-center {
    align-items: unset;
    height: fit-content;
  }
  .user-app, .user-box, .todo-app {
    width: 100%;
    margin: 16px;
    padding: 32px;
    height: fit-content;
  }
  .userform {
    padding: 0;
  }
  .welcome {
    width: 100%;
  }
  .title-header {
    flex-direction: column;
  }
  .logout {
    margin-bottom: 32px;
  }
  .misc {
    & span {
      margin-right: 8px;
      font-size: 16px;
      &.category {
        font-size: 10px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .itemtitle {
    font-size: 14px;
    width: 85%;
  }
  .search {
    margin-bottom: 16px;
  }
  .search, .addcategory, .addtask {
    font-size: 16px;
  }
  .addcategory {
    width: 100%;
    margin-bottom: 16px;
  }
}