// Responsive

@media only screen and (max-width: 680px){
  html,body {
    height: 100%;
  }
  .container-center {
    align-items: unset;
    height: fit-content;
  }
  .existing-container {
    position: fixed;
  }
  .user-app, .user-box, .todo-app {
    width: 100%;
    margin: 16px;
    padding: 32px;
    height: fit-content;
  }
  .userform {
    padding: 0;
  }
  .welcome {
    width: 100%;
  }
  .title-header {
    flex-direction: column;
  }
  .logout {
    margin-bottom: 32px;
  }
  .misc {
    & span {
      margin-right: 8px;
      font-size: 16px;
      &.category {
        font-size: 10px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .itemtitle {
    font-size: 14px;
    width: 85%;
  }
  .search {
    margin-bottom: 16px;
  }
  .search, .addcategory {
    font-size: 16px;
  }
  .addtask {
    font-size: 14px;
    margin-bottom: 16px;
  }
  .addcategory {
    width: 50%;
    font-size: 14px;
    margin-bottom: 16px;
  }
  #edit {
    flex-direction: column;
  }
  .addcategory-edit {
    width: 100%;
    margin-bottom: 8px;
    font-size: 14px;
  }
  .edit-input {
    margin-bottom: 8px;
    font-size: 14px;
  }
  .edit-button {
    font-size: 14px;
  }
  .delete-buttons {
    button {
      font-size: 14px;
    }
  }
  .resp-button {
    display: flex;
    width: 100%;
    font-size: 14px;
    margin-bottom: 32px;
  }
}